# 데이터 입출력
### - csv, excel 파일에서 데이터 읽고 쓰기

In [1]:
import pandas as pd
from pandas import Series, DataFrame

## 1. csv 파일 읽기 - read_csv()

In [2]:
# 1) 기본 csv 파일 읽기
### data/ex1.csv 읽기 (컬럼명이 존재하는 csv 파일)
pd.read_csv('data/ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
# 2) sep 인자 활용하기 
### 구분자가 다른 파일(data/ex2.txt) 읽기 (sep 인자)

# 콤마가 아닌 공백으로 인자들이 구분되어 있는 파일
pd.read_csv('data/ex2.txt', sep = ' ')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
# 3) encoding 인자 활용하기 
### data/2020KBO야구.csv 파일 읽기
pd.read_csv('data/2020KBO야구.csv', encoding = 'cp949')

       선수명  팀명     타율   안타  홈런       연봉
0    페르난데스  두산  0.340  199  21  40000.0
1      허경민  두산  0.332  145   7  48000.0
2      오재일  두산  0.312  147  16  47000.0
3      최주환  두산  0.306  156  16  27000.0
4      박건우  두산  0.304  148  14  45000.0
..     ...  ..    ...  ...  ..      ...
254    김재현  SK  0.143    2   0   5600.0
255    화이트  SK  0.136    3   1      NaN
256    채현우  SK  0.130    3   0   3000.0
257    류효승  SK  0.125    1   1   2700.0
258    이거연  SK  0.125    1   0   2700.0

[259 rows x 6 columns]

In [6]:
# 4) header, names 인자 활용하기 (컬럼명이 파일에 포함되어 있지 않은 경우)
pd.read_csv('data/2020KBO야구_컬럼명미포함.csv', encoding = 'cp949')

    페르난데스  두산   0.34  199  21    40000
0     허경민  두산  0.332  145   7  48000.0
1     오재일  두산  0.312  147  16  47000.0
2     최주환  두산  0.306  156  16  27000.0
3     박건우  두산  0.304  148  14  45000.0
4     정수빈  두산  0.298  146   5  34000.0
..    ...  ..    ...  ...  ..      ...
253   김재현  SK  0.143    2   0   5600.0
254   화이트  SK  0.136    3   1      NaN
255   채현우  SK  0.130    3   0   3000.0
256   류효승  SK  0.125    1   1   2700.0
257   이거연  SK  0.125    1   0   2700.0

[258 rows x 6 columns]

In [7]:
pd.read_csv('data/2020KBO야구_컬럼명미포함.csv', encoding = 'cp949', header = None) # header를 None으로 지정

         0   1      2    3   4        5
0    페르난데스  두산  0.340  199  21  40000.0
1      허경민  두산  0.332  145   7  48000.0
2      오재일  두산  0.312  147  16  47000.0
3      최주환  두산  0.306  156  16  27000.0
4      박건우  두산  0.304  148  14  45000.0
..     ...  ..    ...  ...  ..      ...
254    김재현  SK  0.143    2   0   5600.0
255    화이트  SK  0.136    3   1      NaN
256    채현우  SK  0.130    3   0   3000.0
257    류효승  SK  0.125    1   1   2700.0
258    이거연  SK  0.125    1   0   2700.0

[259 rows x 6 columns]

In [8]:
pd.read_csv('data/2020KBO야구_컬럼명미포함.csv', encoding = 'cp949', 
            names = ['선수명', '팀명', '타율', '안타', '홈런', '연봉']) # name을 직접적으로 지정

       선수명  팀명     타율   안타  홈런       연봉
0    페르난데스  두산  0.340  199  21  40000.0
1      허경민  두산  0.332  145   7  48000.0
2      오재일  두산  0.312  147  16  47000.0
3      최주환  두산  0.306  156  16  27000.0
4      박건우  두산  0.304  148  14  45000.0
..     ...  ..    ...  ...  ..      ...
254    김재현  SK  0.143    2   0   5600.0
255    화이트  SK  0.136    3   1      NaN
256    채현우  SK  0.130    3   0   3000.0
257    류효승  SK  0.125    1   1   2700.0
258    이거연  SK  0.125    1   0   2700.0

[259 rows x 6 columns]

In [11]:
# 5) 불필요한 줄은 제외하고 데이터 읽기 
# 5-1) skiprows를 이용하여, 특정 행을 읽지 않도록 함.

# 주석이나 불필요한 줄이 포함되어 있는 데이터
pd.read_csv('data/2020KBO야구_주석포함.csv', encoding = 'cp949',
           skiprows = [0,1,2], names = ['선수명', '팀명', '타율', '안타', '홈런', '연봉'])

       선수명  팀명     타율   안타  홈런       연봉
0    페르난데스  두산  0.340  199  21  40000.0
1      허경민  두산  0.332  145   7  48000.0
2      오재일  두산  0.312  147  16  47000.0
3      최주환  두산  0.306  156  16  27000.0
4      박건우  두산  0.304  148  14  45000.0
..     ...  ..    ...  ...  ..      ...
254    김재현  SK  0.143    2   0   5600.0
255    화이트  SK  0.136    3   1      NaN
256    채현우  SK  0.130    3   0   3000.0
257    류효승  SK  0.125    1   1   2700.0
258    이거연  SK  0.125    1   0   2700.0

[259 rows x 6 columns]

In [12]:
# 5-2) comment 인자를 이용하여, 주석은 데이터로 읽지 않음. (*로 시작하는 줄들은 항상 데이터에서 제외시킴)
pd.read_csv('data/2020KBO야구_주석포함.csv', encoding = 'cp949',
           comment = '*', names = ['선수명', '팀명', '타율', '안타', '홈런', '연봉'])

       선수명  팀명     타율   안타  홈런       연봉
0    페르난데스  두산  0.340  199  21  40000.0
1      허경민  두산  0.332  145   7  48000.0
2      오재일  두산  0.312  147  16  47000.0
3      최주환  두산  0.306  156  16  27000.0
4      박건우  두산  0.304  148  14  45000.0
..     ...  ..    ...  ...  ..      ...
254    김재현  SK  0.143    2   0   5600.0
255    화이트  SK  0.136    3   1      NaN
256    채현우  SK  0.130    3   0   3000.0
257    류효승  SK  0.125    1   1   2700.0
258    이거연  SK  0.125    1   0   2700.0

[259 rows x 6 columns]

비어 있는 줄은 기본값으로는 원래 읽지 않음. 그런데 비어 있는 줄을 읽게 하고 싶으면 skip_blank_lines = False를 함수안에 추가.

In [13]:
# 6) 용량이 매우 큰 파일 읽기 (파일의 크기가 컴퓨터의 성능보다 크면, Out Of Memery(OOM) Error 발생)

# 1. 데이터의 앞 부분 일부분만 읽어옴
pd.read_csv('data/2020KBO야구.csv', encoding = 'cp949', nrows = 10)

SyntaxError: invalid syntax (<ipython-input-13-9505393a997e>, line 2)

In [22]:
cursor = pd.read_csv('data/2020KBO야구.csv', encoding = 'cp949', chunksize = 10)

In [23]:
# 2. 이렇게 한 번 실행할 때마다 chunksize만큼 뒤로 가서 여러번 끊어서 사용하는 경우
next(cursor)

     선수명  팀명     타율   안타  홈런     연봉
0  페르난데스  두산  0.340  199  21  40000
1    허경민  두산  0.332  145   7  48000
2    오재일  두산  0.312  147  16  47000
3    최주환  두산  0.306  156  16  27000
4    박건우  두산  0.304  148  14  45000
5    정수빈  두산  0.298  146   5  34000
6    최용제  두산  0.295   13   0   2800
7    김재호  두산  0.289  116   2  65000
8    안권수  두산  0.270   10   0   2700
9    박세혁  두산  0.269   97   4  23200

In [24]:
# 커서 이용해서 쭉 읽어오게 하기
data_list = []
for data in cursor : 
    data_list.append(data)

data_list

[    선수명  팀명     타율   안타  홈런     연봉
 10  김재환  두산  0.266  137  30  65000
 11  조수행  두산  0.263   10   0   4500
 12  권민석  두산  0.260   13   0   2700
 13  이유찬  두산  0.258   23   0   3200
 14  신성현  두산  0.250    1   0   4800
 15  장승현  두산  0.250    5   0   3500
 16  서예일  두산  0.240    6   0   3200
 17  국해성  두산  0.233   20   3   4500
 18  오재원  두산  0.232   36   5  30000
 19  양찬열  두산  0.227    5   0   2700,
     선수명  팀명     타율   안타  홈런      연봉
 20  김인태  두산  0.202   17   1    5000
 21  백동훈  두산  0.188    3   0    3600
 22  정상호  두산  0.163   14   0    7000
 23  강태율  롯데  0.455    5   2    2700
 24  신용수  롯데  0.429    3   0    2900
 25  손아섭  롯데  0.352  190  11  200000
 26  오윤석  롯데  0.298   50   4    4000
 27   정훈  롯데  0.295  121  11    6400
 28  이대호  롯데  0.292  158  20  250000
 29  안치홍  롯데  0.286  118   8   29000,
     선수명  팀명     타율   안타  홈런      연봉
 30  마차도  롯데  0.280  136  12   30000
 31  전준우  롯데  0.279  157  26   50000
 32  한동희  롯데  0.278  128  17    4700
 33  이병규  롯데  0.274   45   9    5000
 34  김재유  롯데  0.259   30   1    2900
 35  김민수  롯데  0.250    2   0    3000
 36  지성준  롯데  0.250    2   0    5700
 37  민병헌  롯데  0.233   72   2  125000
 38  김준태  롯데  0.225   69   5    3800
 39  김동한  롯데  0.221   15   0    4500,
     선수명  팀명     타율   안타  홈런     연봉
 40  신본기  롯데  0.217   23   2  12500
 41  강로한  롯데  0.190    4   0   5300
 42   허일  롯데  0.179   15   1   4100
 43  정보근  롯데  0.150   20   0   2900
 44  추재현  롯데  0.125    3   0   2700
 45  김호재  삼성  0.322   38   1   4000
 46  김동엽  삼성  0.312  129  20  13500
 47  구자욱  삼성  0.307  137  15  28000
 48  강한울  삼성  0.305   32   1  12000
 49  김상수  삼성  0.304  123   5  25000,
      선수명  팀명     타율   안타  홈런      연봉
 50   최영진  삼성  0.297   30   1    8000
 51   박해민  삼성  0.290  142  11   30000
 52   강민호  삼성  0.287  102  19  125000
 53   김성윤  삼성  0.286    2   0    2900
 54   이성곤  삼성  0.281   39   5    3500
 55  살라디노  삼성  0.280   37   6   70000
 56   송준석  삼성  0.277   13   1    4000
 57   이원석  삼성  0.268  108  13   30000
 58   박승규  삼성  0.258   47   1    3200
 59   김헌곤  삼성  0.248   63   3   19000,
     선수명  팀명     타율  안타  홈런     연봉
 60  김지찬  삼성  0.232  59   1   2700
 61  이학주  삼성  0.228  47   4   9000
 62  김응민  삼성  0.224  17   0   3200
 63  김도환  삼성  0.220   9   0   5000
 64  박찬도  삼성  0.219  21   1   5000
 65   팔카  삼성  0.209  41   8  10000
 66  박계범  삼성  0.195  32   3   5500
 67  이성규  삼성  0.181  39  10   4300
 68  김민수  삼성  0.174   4   0   4300
 69  김재현  삼성  0.143   2   0   5500,
     선수명  팀명     타율   안타  홈런     연봉
 70  양우현  삼성  0.130    3   0   2700
 71  김성표  삼성  0.125    1   0   2800
 72  임지열  키움  1.000    1   0   2700
 73  김은성  키움  0.500    2   0   2900
 74  이정후  키움  0.333  181  15  39000
 75  이지영  키움  0.309   81   0  30000
 76  김하성  키움  0.306  163  30  55000
 77  김혜성  키움  0.285  142   7  10000
 78  서건창  키움  0.277  134   5  35000
 79  김웅빈  키움  0.275   57   8   3700,
     선수명  팀명     타율  안타  홈런      연봉
 80  변상권  키움  0.274  17   1    3700
 81  임병욱  키움  0.270  10   0    8800
 82  허정협  키움  0.268  84  10    3500
 83   러셀  키움  0.254  62   2   54000
 84  박동원  키움  0.250  81  12   22500
 85  박주홍  키움  0.250   6   0    2700
 86  박준태  키움  0.245  85   5    4500
 87  전병우  키움  0.237  85   8    2900
 88  김주형  키움  0.233  10   1    2700
 89  박병호  키움  0.223  69  21  200000,
     선수명  팀명     타율   안타  홈런     연봉
 90  김규민  키움  0.208   21   1   5400
 91  이택근  키움  0.193   11   0   5000
 92  주효상  키움  0.190   16   0   4000
 93  박정음  키움  0.186    8   0   4300
 94  김수환  키움  0.182    2   0   2700
 95   모터  키움  0.114    4   1  20000
 96  허관회  한화  0.500    1   0   2700
 97  김현민  한화  0.400    2   0   2700
 98  최승준  한화  0.333    1   0   4000
 99  최재훈  한화  0.301  102   3  20000,
      선수명  팀명     타율   안타  홈런     연봉
 100  이용규  한화  0.286  120   1  40000
 101  하주석  한화  0.286   75   2  14000
 102  김민하  한화  0.284   21   1   4500
 103  박정현  한화  0.279   17   1   2700
 104  정진호  한화  0.277   78   2  11300
 105  이해창  한화  0.269   32   3   5500
 106   반즈  한화  0.265   75   9  50000
 107  노수광  한화  0.251   73   1  21000
 108  정은원  한화  0.248   63   3  12000
 109  최인호  한화  0.236   30   0   2700,
      선수명  팀명     타율  안타  홈런     연봉
 110  송광민  한화  0.235  65   9  25000
 111  최진행  한화  0.234  50   8  16000
 112  오선진  한화  0.234  46   2  10500
 113  임종찬  한화  0.231  25   1   2700
 114  강경학  한화  0.228  44   4   7800
 115  양성우  한화  0.222   2   0   7000
 116  조한민  한화  0.220  11   0   2700
 117  노시환  한화  0.220  76  12   3300
 118  김태균  한화  0.219  48   2  50000
 119  김문호  한화  0.217  10   2   5000,
      선수명  팀명     타율  안타  홈런     연봉
 120  박상언  한화  0.217  10   0   2800
 121  노태형  한화  0.216  22   0   2700
 122  이도윤  한화  0.208   5   0   3000
 123  이성열  한화  0.203  46   8  50000
 124   호잉  한화  0.194  24   4  55000
 125  김회성  한화  0.167   3   0   6500
 126  유장혁  한화  0.167   7   0   3200
 127  정기훈  한화  0.161   5   0   2700
 128  김지수  한화  0.160   4   1   2700
 129  장진혁  한화  0.156   5   0   5800,
      선수명   팀명     타율   안타  홈런      연봉
 130  박한결   한화  0.150    3   0    3000
 131  장운호   한화  0.148    4   1    3800
 132  이동훈   한화  0.105    4   0    3300
 133  류지혁  KIA  0.381   16   1   10500
 134  최형우  KIA  0.354  185  28  150000
 135  김주찬  KIA  0.333    6   1   40000
 136  김선빈  KIA  0.330  100   1   45000
 137  이창진  KIA  0.330   29   0    8500
 138  최원준  KIA  0.326  117   2    7000
 139   터커  KIA  0.306  166  32   55000,
      선수명   팀명     타율   안타  홈런     연봉
 140  나지완  KIA  0.291  136  17  60000
 141  나주환  KIA  0.279   57   6  12000
 142  황대인  KIA  0.276   32   4   3000
 143  김민식  KIA  0.251   53   2   8800
 144  홍종표  KIA  0.250   20   0   2700
 145  유민상  KIA  0.246   96   8   6000
 146  황윤호  KIA  0.243   17   0   5000
 147  오선우  KIA  0.239   16   4   3000
 148  김태진  KIA  0.236   62   1   9000
 149  김호령  KIA  0.232   32   4   8500,
      선수명   팀명     타율   안타  홈런     연봉
 150  고장혁  KIA  0.231    3   0   5000
 151  이진영  KIA  0.227    5   0   3400
 152  한승택  KIA  0.226   51   9   8000
 153  박찬호  KIA  0.223  107   3  10500
 154  백용환  KIA  0.220   20   5  10500
 155  이우성  KIA  0.203   12   0   4000
 156  최정용  KIA  0.196   11   1   3600
 157  김규성  KIA  0.178   28   3   2900
 158  문선재  KIA  0.167    1   0   4500
 159  장영석  KIA  0.129    4   0   7500,
      선수명   팀명     타율   안타  홈런      연봉
 160  최정민  KIA  0.111    1   0    3500
 161  김영환  KIA  0.000    0   0    3300
 162  로하스   KT  0.349  192  47   80000
 163  강백호   KT  0.330  165  23   21000
 164  황재균   KT  0.312  169  21  120000
 165  조용호   KT  0.296  121   0    7000
 166  배정대   KT  0.289  154  13    4800
 167  박경수   KT  0.281   91  13   40000
 168  유한준   KT  0.280  108  11   50000
 169  장성우   KT  0.278  111  13   13500,
      선수명  팀명     타율   안타  홈런     연봉
 170  허도환  KT  0.264   14   0   6500
 171  박승욱  KT  0.264   29   1   8000
 172  문상철  KT  0.260   40   8   4000
 173  김민혁  KT  0.239   53   5   9000
 174  심우준  KT  0.235  112   3  13000
 175  강민국  KT  0.224   24   0   4000
 176  천성호  KT  0.203   14   0   2700
 177  강현우  KT  0.200    6   1   2700
 178  송민섭  KT  0.195    8   1   4700
 179  이홍구  KT  0.190   16   3   9000,
      선수명  팀명     타율   안타  홈런      연봉
 180  김병희  KT  0.143    3   1    3000
 181  손호영  LG  0.367   11   0    2700
 182  김현수  LG  0.331  181  22  130000
 183  신민재  LG  0.308    8   0    5000
 184  오지환  LG  0.300  158  10   60000
 185  박용택  LG  0.300   65   2   80000
 186  이형종  LG  0.296   85  17   20000
 187  채은성  LG  0.293  122  15   32000
 188  홍창기  LG  0.279  114   5    3800
 189  라모스  LG  0.278  120  38   30000,
      선수명  팀명     타율   안타  홈런     연봉
 190  김용의  LG  0.271   19   1  10500
 191  박재욱  LG  0.267    4   0   3500
 192  김민성  LG  0.266   79   5  40000
 193  유강남  LG  0.261  112  16  23000
 194  이천웅  LG  0.256   80   3  28000
 195  백승현  LG  0.250    7   0   3400
 196  정주현  LG  0.247   81   4  12500
 197  양석환  LG  0.246   29   3  21000
 198  김호은  LG  0.243   25   2   2700
 199  정근우  LG  0.240   37   1  35000,
      선수명  팀명     타율   안타  홈런      연봉
 200  이성우  LG  0.234   18   3    8000
 201  장준원  LG  0.217   13   1    3400
 202  전민수  LG  0.200    1   0    5000
 203  구본혁  LG  0.163   14   1    4000
 204  이재원  LG  0.050    1   0    2700
 205  김기환  NC  0.500    1   0    2700
 206  이재율  NC  0.444    4   0    3000
 207  박민우  NC  0.345  161   8   52000
 208  양의지  NC  0.328  151  33  200000
 209  나성범  NC  0.324  170  34   50000,
      선수명  팀명     타율   안타  홈런     연봉
 210  강진성  NC  0.309  122  12   3800
 211  박석민  NC  0.306  109  14  70000
 212  이명기  NC  0.306  146   2  24000
 213  김형준  NC  0.306   22   3   5000
 214  모창민  NC  0.301   41   2  30000
 215  김찬형  NC  0.297   19   0   5800
 216  김태군  NC  0.292   33   1  20000
 217  알테어  NC  0.278  134  31  80000
 218  최정원  NC  0.275   11   0   2700
 219  노진혁  NC  0.274  117  20  14000,
      선수명  팀명     타율  안타  홈런     연봉
 220  권희동  NC  0.260  90  12  13500
 221  이원재  NC  0.258  34   4   7100
 222  윤수강  NC  0.250   1   0   3200
 223  김성욱  NC  0.221  43   8  12000
 224  김준완  NC  0.215  14   1   8000
 225  지석훈  NC  0.207  25   1  12500
 226  도태훈  NC  0.182   2   0   3200
 227  박준영  NC  0.152   7   0   2700
 228  이상호  NC  0.131   8   0  10000
 229  김경호  SK  0.286  30   0   2900,
      선수명  팀명     타율   안타  홈런      연봉
 230  김성민  SK  0.286    4   2    2700
 231  고종욱  SK  0.283   77   3   17000
 232   로맥  SK  0.282  137  32   90000
 233  채태인  SK  0.281   45   7   10000
 234  오태곤  SK  0.274   64   5    9500
 235  김성현  SK  0.271   93   2   21000
 236  오준혁  SK  0.270   40   3    3000
 237   최정  SK  0.270  122  33  120000
 238   최항  SK  0.265   35   2    7500
 239  최지훈  SK  0.258  120   1    2700,
      선수명  팀명     타율  안타  홈런     연봉
 240  김강민  SK  0.253  73  12  35000
 241  유서준  SK  0.250   6   1   3100
 242  한동민  SK  0.249  48  15  25000
 243  박성한  SK  0.242  24   2   2700
 244  정의윤  SK  0.241  45   1  30000
 245  이흥련  SK  0.240  30   3   7000
 246  정진기  SK  0.238  30   2   4600
 247  최준우  SK  0.236  43   3   3100
 248  남태혁  SK  0.197  13   1   3000
 249  김창평  SK  0.192  15   0   3000,
      선수명  팀명     타율  안타  홈런        연봉
 250  윤석민  SK  0.192  14   3   18000.0
 251  이재원  SK  0.185  41   2  130000.0
 252  이현석  SK  0.178  18   2    3000.0
 253   정현  SK  0.152  17   2    3000.0
 254  김재현  SK  0.143   2   0    5600.0
 255  화이트  SK  0.136   3   1       NaN
 256  채현우  SK  0.130   3   0    3000.0
 257  류효승  SK  0.125   1   1    2700.0
 258  이거연  SK  0.125   1   0    2700.0]

In [26]:
# 7. 결과를 csv 파일로 저장하기 - to_csv()
data = pd.read_csv('data/2020KBO야구.csv', encoding = 'cp949')
result = data.pivot_table(index = '팀명', values = '안타', aggfunc = 'sum')

In [27]:
result.to_csv('data/팀별안타수.csv', encoding = 'cp949') #팀별안타수라는 파일이 생성되며 그 안에 내용이 저장됨

## 2. 엑셀 파일 읽기 (read_excel())

In [ ]:
# read_excel()은 read_csv()에서 제공하는 인자들과 흡사

In [28]:
# sheet가 여러 개가 있는 경우
pd.read_excel('data/2020KBO야구.xlsx') # sheet_name = 0 이 기본값. 첫번째 시트를 읽어오는게 디폴트.

      선수명  팀명     타율   안타  홈런     연봉
0   페르난데스  두산  0.340  199  21  40000
1     허경민  두산  0.332  145   7  48000
2     오재일  두산  0.312  147  16  47000
3     최주환  두산  0.306  156  16  27000
4     박건우  두산  0.304  148  14  45000
5     정수빈  두산  0.298  146   5  34000
6     최용제  두산  0.295   13   0   2800
7     김재호  두산  0.289  116   2  65000
8     안권수  두산  0.270   10   0   2700
9     박세혁  두산  0.269   97   4  23200
10    김재환  두산  0.266  137  30  65000
11    조수행  두산  0.263   10   0   4500
12    권민석  두산  0.260   13   0   2700
13    이유찬  두산  0.258   23   0   3200
14    신성현  두산  0.250    1   0   4800
15    장승현  두산  0.250    5   0   3500
16    서예일  두산  0.240    6   0   3200
17    국해성  두산  0.233   20   3   4500
18    오재원  두산  0.232   36   5  30000
19    양찬열  두산  0.227    5   0   2700
20    김인태  두산  0.202   17   1   5000
21    백동훈  두산  0.188    3   0   3600
22    정상호  두산  0.163   14   0   7000

In [30]:
pd.read_excel('data/2020KBO야구.xlsx', sheet_name = '두산') # 해당하는 시트의 이름이나 인덱스 번호를 적음

      선수명  팀명     타율   안타  홈런     연봉
0   페르난데스  두산  0.340  199  21  40000
1     허경민  두산  0.332  145   7  48000
2     오재일  두산  0.312  147  16  47000
3     최주환  두산  0.306  156  16  27000
4     박건우  두산  0.304  148  14  45000
5     정수빈  두산  0.298  146   5  34000
6     최용제  두산  0.295   13   0   2800
7     김재호  두산  0.289  116   2  65000
8     안권수  두산  0.270   10   0   2700
9     박세혁  두산  0.269   97   4  23200
10    김재환  두산  0.266  137  30  65000
11    조수행  두산  0.263   10   0   4500
12    권민석  두산  0.260   13   0   2700
13    이유찬  두산  0.258   23   0   3200
14    신성현  두산  0.250    1   0   4800
15    장승현  두산  0.250    5   0   3500
16    서예일  두산  0.240    6   0   3200
17    국해성  두산  0.233   20   3   4500
18    오재원  두산  0.232   36   5  30000
19    양찬열  두산  0.227    5   0   2700
20    김인태  두산  0.202   17   1   5000
21    백동훈  두산  0.188    3   0   3600
22    정상호  두산  0.163   14   0   7000

In [32]:
data = pd.read_excel('data/2020KBO야구.xlsx', sheet_name = ['LG', '두산']) # 두 개 이상의 시트도 읽어올 수 있음
# 두 가지 이상의 시트를 읽어오는 경우 사전 타입으로 읽어오게 됨. 

# type(data) 는 dictionary임.

#그래서 두산이나 엘지의 데이터를 가져오고 싶으면
data['LG'] # or data['두산'] 이런식으로 적으면 각 시트의 데이터를 불러올 수 있음

    선수명  팀명     타율   안타  홈런      연봉
0   손호영  LG  0.367   11   0    2700
1   김현수  LG  0.331  181  22  130000
2   신민재  LG  0.308    8   0    5000
3   오지환  LG  0.300  158  10   60000
4   박용택  LG  0.300   65   2   80000
5   이형종  LG  0.296   85  17   20000
6   채은성  LG  0.293  122  15   32000
7   홍창기  LG  0.279  114   5    3800
8   라모스  LG  0.278  120  38   30000
9   김용의  LG  0.271   19   1   10500
10  박재욱  LG  0.267    4   0    3500
11  김민성  LG  0.266   79   5   40000
12  유강남  LG  0.261  112  16   23000
13  이천웅  LG  0.256   80   3   28000
14  백승현  LG  0.250    7   0    3400
15  정주현  LG  0.247   81   4   12500
16  양석환  LG  0.246   29   3   21000
17  김호은  LG  0.243   25   2    2700
18  정근우  LG  0.240   37   1   35000
19  이성우  LG  0.234   18   3    8000
20  장준원  LG  0.217   13   1    3400
21  전민수  LG  0.200    1   0    5000
22  구본혁  LG  0.163   14   1    4000
23  이재원  LG  0.050    1   0    2700

In [34]:
# 전체 시트를 읽어오는 경우 (이 또한 사전 타입의 형식으로 받아옴)
data2 = pd.read_excel('data/2020KBO야구.xlsx', sheet_name = None)

In [35]:
# 그리고 만약에 data['한화'] 이런식으로 매번 각 시트를 불러오기 귀찮다면 변수에 저장해놓으면 됨.
두산, SK, NC, LG, KT, KIA, 한화, 키움, 롯데, 삼성 = data2.values()

In [36]:
키움

    선수명  팀명     타율   안타  홈런      연봉
0   임지열  키움  1.000    1   0    2700
1   김은성  키움  0.500    2   0    2900
2   이정후  키움  0.333  181  15   39000
3   이지영  키움  0.309   81   0   30000
4   김하성  키움  0.306  163  30   55000
5   김혜성  키움  0.285  142   7   10000
6   서건창  키움  0.277  134   5   35000
7   김웅빈  키움  0.275   57   8    3700
8   변상권  키움  0.274   17   1    3700
9   임병욱  키움  0.270   10   0    8800
10  허정협  키움  0.268   84  10    3500
11   러셀  키움  0.254   62   2   54000
12  박동원  키움  0.250   81  12   22500
13  박주홍  키움  0.250    6   0    2700
14  박준태  키움  0.245   85   5    4500
15  전병우  키움  0.237   85   8    2900
16  김주형  키움  0.233   10   1    2700
17  박병호  키움  0.223   69  21  200000
18  김규민  키움  0.208   21   1    5400
19  이택근  키움  0.193   11   0    5000
20  주효상  키움  0.190   16   0    4000
21  박정음  키움  0.186    8   0    4300
22  김수환  키움  0.182    2   0    2700
23   모터  키움  0.114    4   1   20000

In [37]:
두산.to_excel('data/두산데이터.xlsx') #두산데이터라는 파일이 생성되며 그 안에 내용이 저장됨